body {background-color: #242E40;}

/* Add a black background color to the top navigation */
.topnav {
//  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Times New Roman"
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #167FA3;
  color: white;
}

.btn {
  background-color: #167FA3;
  color: white;
  font-size: 17px;
  font-family: "Times New Roman"
}


.logo {
    display: table-cell;
vertical-align: middle;
}

.about p {
  color: white
  text-align: center
  max-width: 200px
}
