body {background-color: #242E40;}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Times New Roman"
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #167FA3;
  color: white;
}

.btn {
  background-color: #167FA3;
  color: white;
  font-size: 17px;
  font-family: "Times New Roman"
}

.download {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 100px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
    margin-left: 40px
}

.downloadB {
  background-color: #167FA3;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 35px;
  font-family: "Times New Roman"

}
.downloadB:hover {
  background-color: #268FB3;
  color: #f2f2f2;
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.para {
  font-size: 25px;
  font-family: "Verdana";
  color: white;
  text-align: center;
  max-width: 500px;
}
